<div class="conte">
    <div class="card stromtroper">
      <a href="/productos/detail/<%= productos.id%"><img src="/img/<%= productos.image %>"/></a>
    </div>
    <div class="informacion">
      <h1><%= productos.name %></h1>
  </div>
  <div class="precio">
      <div class="box-precio">
          <p><%= productos.price %></p>
          <p>Descuento: 50%</p>
      </div>
    </div>
    <a href="#"><i class="fas fa-shopping-bag"></i></a>
    
  </div>