<div class="conte">
  <div class="card iron-man">
<a href="/productos/detail/<%= productos.id%>"><img src="/img/<%= productos.image %>"/></a>
  </div>
  <div class="informacion">
    <h1>SHORT LOURDES</h1>
  </div>
  <div class="precio">
    <div class="box-precio">
        <p>Precio : S/55.00</p>
        <p>Descuento: 50%</p>
    </div>
    <a href="#"><i class="fas fa-shopping-bag"></i></a>
  </div>
</div>