<div class="gallery-item">
    <a href="/detail-product<%= productos.id%>">
        <img src="/img/<%= productos.image %>" alt="" class="gallery-img">
        <h3 class="gallery-title"><%= productos.name %></h3>
    </a>
</div>