<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/88225b2944.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <title>Vintage | Ropa de Mujer</title>
</head>

    <body>

      <header>
        <nav>
            <ul>
                <li class="logo"><span class="celeste">Vin</span>tage</li>
                <li class="btn"><span class="fas fa-bars"></span></li>
                <div class="items">
                    <li><a href="/">Home</a></li>
                    <li><a href="#buscado">Productos</a></li>
                    <li><a href="/registro">Registrate</a></li>
                    <li><a href="/inicio-sesion">Ingresar</a></li>
                    <li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
                </div>
                <form action="procesar.php" method="POST">
                    <li class="search-icon">
                        <input type="search" placeholder="Search">
                        <label>
                        <button class="icon"><span class="fas fa-search"></span></button>
                    </label>
                    </li>
                </form>
            </ul>
            <script>
                $('nav ul li.btn span').click(function() {
                    $('nav ul div.items').toggleClass("show");
                    $('nav ul li.btn span').toggleClass("show");
                });
            </script>
        </nav>
    </header>


        <main>
          <div class="row">
            <div class="col-md-10 offset-md-1">
              <table class="table table-dark mt-3">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">E-mail</th>
                    <th scope="col">Cargo</th>
                    <th scope="col">Acciones</th>
                  </tr>
                </thead>
                <tbody class="text-black">
                  <tr>
                    <th scope="row">1</th>
                    <td class="text-black">Mark</td>
                    <td class="text-black">Otto</td>
                    <td class="text-black">@mdo</td>
                    <td class="text-black">@mdo</td>
                    <td>
                      <div>
                        <a href="#"><button type="button" class="btn btn-info text-white"><i class="fas fa-eye"></i></button></a>
                        <a href="#"><button type="button" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button></a>
                        <a href="#"><button type="button" class="btn btn-primary"><i class="fas fa-sync-alt"></i></button></a>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            
            </div>
        </main>
    </body>
</html>